
html, body, #root {
  height: 100%;
}
.paramul{
  display: inline-block;
  margin-bottom: 20px;
}
.paramul li{
  float: left;
}
.params li{
  margin: 6px;
}
/*assessnav*/
.assessNav{
      position: fixed;
      top:0;
      left:0;
      right:0;
      height:60px;
      background-color:  rgb(255,255,255,0);
      z-index:33;
}
.assessNavChange{
  position: fixed;
      top:0;
      left:0;
      right:0;
      height:60px;
      background: #FFF;
      box-shadow:2px 2px 3px #aaaaaa;
      z-index:33;
}
#navImg{
  height: 500px;
  width: 100%;
  background: #ccc url("./dist/fd501e6aa355a35843a6ae8b3585eec1.jpg") no-repeat left;
  z-index: -2;
}
/*Assess Card
*/
.card{
  height: 200px;
  margin:10px;
  color: #000;
}
/*adminlogin*/
#admincontainer{
  width: 100%;
  height: 100%;
  padding-top:100px; 
  background:  #80edb6 url("./dist/fd501e6aa355a35843a6ae8b3585eec1.jpg") no-repeat fixed left;

}
#adminlogin{
  width: 30%;
  margin:0 auto;
  padding:100px 40px 40px; 
  background-color: rgba(255, 255, 255, 0.2);
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
/*admin*/
#menu{
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #333;
    border-right: 1px solid #e9e9e9;
}
#rightWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    padding: 20px 20px 0 20px;
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
    overflow-y: auto;

}

#rightWrap-nav{
  width: 100%;
}
#rightWrap .ant-menu-submenu {
    float: right;
}
.right-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    padding: 20px 20px 0;
    position: absolute;
    top: 73px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
#mycard{
	position: absolute;
	top: 0;
	height: 200px;
}
/*imgupload
*/
.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 40px;
  height: 40px;
  padding-top:5px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  color: #999;
}
.user{
  margin-right: 50px;
}
.user li {
  float: left;
  margin-top: 10px;
}
.user .username {
  font-size: 14px;
  margin-top:18px;
  margin-left: 10px;
}

/*makepaper inputNumber*/
.makepaper{
  margin-top: 30px;
  margin-left: 60px;
}
.makepaper p{
  font-size: 16px;
  color: #777;
  margin-left: 80px;
  margin-bottom: 8px;
}
.makepaper p span{
  margin-right: 60px;
}
.makepaper div{
  margin-bottom: 4px
}

/*couse*/
.course{
  background-color: #F0F0F0;
}
.course .course-desc{
  height: 400px;
  background-color: #e2e9ec;
}
.course .course-content{
  width: 50%;
  margin: 40px 120px;
}
/*singlepaper*/
.answer{
  color: #89c7f5;
}

/*paperparams*/
.paperparams .items{
  color: red;
}
/*UserInfo*/
.userinfo{
  font-size: 18px;
  margin-left: 28px;
  margin-bottom: 6px;
}